{% extends "base.html" %}
{% block title %}Member Search{% endblock %}
{% block content %}
{% if error %}
<table class="grp7" cellpadding="3" cellspacing="0" border="0">
  <tr><td class="err2">{{ error }}</td></tr>
</table>
{% endif %}
<table class="grp1" cellpadding="3" cellspacing="0" border="0">
  <tr>
    <td class="lbl1">
      <form action="/lookup" method="get" class="frm1">
        <label>Member ID
          <input type="text" name="member_id" class="inp1" value="{{ member_id or '' }}">
        </label>
        <label>Search by Name
          <input type="text" name="name_query" class="inp1">
        </label>
        <label>Branch Code
          <input type="text" name="branch_code" class="inp1">
        </label>
        <button type="submit" class="btn1">Search</button>
      </form>
    </td>
  </tr>
  <tr>
    <td class="lbl1"><a href="/advanced-search" class="lnk2">Advanced Search</a></td>
  </tr>
</table>
{% endblock %}
