{% extends "base.html" %}
{% block title %}Member Search{% endblock %}
{% block content %}
<table class="grp1" cellpadding="3" cellspacing="0" border="0">
  <tr>
    <td class="lbl1">
      <form action="/lookup" method="get" class="frm1">
        <label>Member ID
          <input type="text" name="member_id" class="inp1">
        </label>
        <label>Search by Name
          <input type="text" name="name_query" class="inp1">
        </label>
        <label>Branch Code
          <input type="text" name="branch_code" class="inp1">
        </label>
        <button type="submit" class="btn1">Search</button>
      </form>
    </td>
  </tr>
  <tr>
    <td class="lbl1"><a href="/advanced-search" class="lnk2">Advanced Search</a></td>
  </tr>
</table>
<table class="grp8" cellpadding="3" cellspacing="0" border="0">
  <tr><td class="lbl3">Recently Viewed Members</td></tr>
  <tr>
    <td class="val3">
      <a href="/member/M-1001" class="lnk1">M-1001</a> &nbsp;
      <a href="/member/M-1005" class="lnk1">M-1005</a> &nbsp;
      <a href="/member/M-1007" class="lnk1">M-1007</a>
    </td>
  </tr>
</table>
{% endblock %}
