{% extends "base.html" %}
{% block title %}Confirm Withdrawal{% endblock %}
{% block content %}
<table class="grp2" cellpadding="3" cellspacing="0" border="0">
  <tr><td class="lbl2">Member</td><td class="val2">{{ member.name }}</td></tr>
  <tr><td class="lbl2">Amount</td><td class="val2">${{ "%.2f"|format(amount) }}</td></tr>
  <tr><td class="lbl2">Method</td><td class="val2">{{ method or "transfer" }}</td></tr>
  {% if memo %}<tr><td class="lbl2">Memo</td><td class="val2">{{ memo }}</td></tr>{% endif %}
</table>
<table class="grp6" cellpadding="3" cellspacing="0" border="0">
  <tr>
    <td>
      <form action="/member/{{ member.id }}/withdraw/confirm" method="post" class="frm6">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="method" value="{{ method or 'transfer' }}">
        <input type="hidden" name="memo" value="{{ memo or '' }}">
        <button type="submit" class="btn1">Confirm</button>
      </form>
    </td>
  </tr>
</table>
<table class="grp10" cellpadding="3" cellspacing="0" border="0">
  <tr><td class="lbl3">Contact Verification</td></tr>
  <tr><td class="val3">Phone on file: 555-0142</td></tr>
  <tr>
    <td>
      <form action="/member/{{ member.id }}/contact/confirm" method="post" class="frm7">
        <button type="submit" class="btn1">Confirm</button>
      </form>
    </td>
  </tr>
</table>
{% endblock %}
